* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: calibri;
}

.sky {
  background-color: #0086FF;
  width: 100%;
  height: 196px;
  position: relative;
}
.sky img {
  position: absolute;
}
.sky img:nth-child(1) {
  top: 10px;
  left: 50px;
  opacity: .5;
  animation: cloudLeftRight 80s linear infinite alternate;
}
@keyframes cloudLeftRight {
  from {
    left: 50px;
  }
  to {
    left: calc(100% - 200px);
  }
}
.sky img:nth-child(2) {
  top: 50px;
  right: 50px;
  opacity: .8;
  animation: cloudRightLeft 30s linear infinite alternate;
}
@keyframes cloudRightLeft {
  from {
    right: 50px;
  }
  to {
    right: calc(100% - 200px);
  }
}

.grass {
  background: url('../images/grass.png') no-repeat 0 0 / 100% 100%;
  width: 100%;
  height: 200px;
}
.road {
  background-color: #698799;
  width: 100%;
  height: 260px;
  position: relative;
  overflow: hidden;
}
.roadline{
  position: absolute;
  top: calc(50% + 5px);
  border: 5px dashed #fff;
  width: 100%;
}
.road img {
  position: absolute;
}
.road img.one{
  width: 150px;
  top: 0px;
  left: 0;
  animation-name: leftRight;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.road img.two {
  top: 160px;
  width: 120px;
  right: 0;
  animation-name: rightLeft;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes leftRight {
  from {
    transform: translateX(-150px);
  }
  to {
      transform: translateX(1280px);
  }
}
@keyframes rightLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-1280px);
  }
}


/* POPUP CSS */
.popup {
  border: 1px solid #333;
  position: fixed;
  width: 100%;
  height: 100%;
}
.popup-inner-1 {
  height: 100%;
  width: 100%;
  display: table;
}
.popup-inner-2{
  display: table-cell;
  vertical-align: middle;
}
.popup-main {
  height: 100px;
  width: 100px;
  border: 1px solid #333;
  margin: auto;
  transform-origin: 0px 0px;
  background: purple;
}
.popup-main.one {
  position: absolute;
  top: 200px;
  left: 200px;
  animation: topBottom 5s linear infinite reverse;
}
.popup-main.two {
  position: absolute;
  /* top: 200px; */
  left: 200px;
  animation: topBottom 10s linear infinite reverse;
}
@keyframes topBottom {
  0% {
    transform: rotate(0);
    background: purple;
  }
  50% {
    transform: rotate(360deg);
    background: red;
  }
  100% {
    transform: rotate(0deg);
    background: grren;
  }
}


.parent ,
.list-inline{
  display: table;
  width: 100%;
}
.child,
.list-inline > li{
  display: inline-block;
  margin-right: -4px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/* GRID CSS */
header {
  height: 100px;
  border-bottom: 1px solid #333;
  height: auto;
  width: 100%;
}

header > .inner{
  padding: 10px 20px;
}
header > .inner .child {
  vertical-align: middle;
  width: 50%;
}
header > .inner .child:nth-child(1) img{
  width: 150px;
}
header > .inner .child:nth-child(2) img{
  float: right;
  width: 80px;
}

#products > .inner {
  padding: 10px 20px;
}
#products .list-inline {

}
#products .list-inline > li{
  width: 20%;
  text-align: center;
  padding: 0 10px 20px;
}
#products .list-inline > li img{
  border: 1px solid #afafaf;
  padding: 20px;
}
.buy-btn {
  border: 1px solid #333;
  padding: 5px 10px;
  font-size: 15px;
  background-color: purple;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  transition: .3s;
}
.buy-btn:hover {
  background-color: #000;
}
.cloned_img {
  position: absolute;
  width: 100px;
  padding: 0 !important;
  animation: clonedImg 1.5s linear reverse;
  z-index: 999;
  /* top: 0;
  left: 90%; */
}
@keyframes clonedImg{
  from {
    top: 0;
    left: 100%;
    width: 50px;
    top: 60px;
    opacity: 0;
    display: table;
  }
  to {
    top: 0;
    left: 0%;
    width: 100px;
    opacity: 1;
    display: none;
  }
}
